/* 웹 폰트 로딩 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrap {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.en {
    font-family: 'Lato', sans-serif;
}

br.mo {
    display: none;
}

.hide {
    display: none !important;
}

/* ============== header ============= */
header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
    padding-top: 20px;
    background: #fff;
    display: flex;
    /* background: orange; */

}

header .inner-header {
    display: flex;
    width: 60%;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    color: #111;
    /* background: pink; */
}


/* 네비게이션 정렬 */
header .inner-header nav ul {
    align-items: center;
}

header .inner-header nav ul li {
    float: left;
    margin-right: 40px;
}

/* 메인 네비게이션 마우스 호버 효과 */
/* 투명도 80% */
header .inner-header .gnb li a:hover {
    opacity: 0.65;
    /* color: rgb(6, 121, 35); */
}

header .inner-header .gnb {
    /* background: greenyellow; */
    margin-left: 10px;
}

header .inner-header .gnb li a {
    display: block;
    font-weight: 700;
    font-size: 1.1em;
}

/* 돋보기아이콘 클릭 시 실행 */
header .inner-header .tnb .search {
    border: #ddd solid 0.8px;
    border-radius: 15px;
    padding: 5px 10px;
    background: #fff;


}

/* 돋보기아이콘 클릭 시 display: block */
#search {
    background: transparent;
    display: none;
}

/* ============ header fin ============ */



/* ============ contents✅ ============ */

/* ------- contents > main banner✅ ------- */
section#main-banner-container {
    position: relative;
    width: 100%;
    /* 전체 크기를 화면 크기와 동일하게 맞추기 */
    height: 600px;
    /* 높이 고정 */
    overflow: hidden;
    /* 나머지 부분 숨기기 */
    margin: 0 auto;
    padding-top: 100px;
    display: block;
}

section#main-banner-container .main-banner-img {
    position: absolute;
    /* 화면 감소시 이미지 크기는 right, left 포지션값에 의해 결정된다. */
    /* 포지션값을 -200% 시킴으로써 화면이 줄어들어도 이미지 크기가 감소하는 right, left 값이 되지 않음 */
    top: 0;
    right: -200%;
    bottom: 0;
    left: -200%;
    margin-top: 85px;
}

section#main-banner-container .main-banner-img a img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;

}

/* main banner text Style */
/* 메인 배너 텍스트 스타일 */
section#main-banner-container .main-banner-img a .banner-text {
    position: absolute;
    width: 50%;
    height: 100px;
    left: 20vh;
    bottom: 10vh;
    z-index: 100;
}

/* next \ previous Style */
section#main-banner-container .click-next-pre {
    position: absolute;
    display: flex;
    top: 69vh;
    right: 20%;
    font-weight: 700;
    margin: 0 auto;
    font-size: 0.9em;
    padding: 20px 25px;
    background: #fff;

}

/* ------- contents > main banner fin ------- */


/* ------- content common style✅ ------- */

section.common-style {
    width: 60%;
    margin: 0 auto;
}

/* 각 섹션 텍스트 타이틀 스타일 */
section .section-title {
    font-size: 1.7em;
    font-weight: 700;
    margin: 9vh 0 4vh 0;
    text-align: center;
}


/* ------- contents > category✅ ------- */


section#category {
    margin: 0 auto;
}


section#category .products {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    /* row-gap: 0.5rem; */
}

section#category .products .category-link {
    width: 50%;
    /* padding: 0.5em; */
    /* background: rgb(249, 249, 249); */
    box-sizing: border-box;
    position: relative;
}

section#category .products .category-link .box-info .pq-text {
    display: block;
    position: absolute;
    top: 6vh;
    left: 4vh;
    margin-bottom: 10px;
    font-weight: 300;
    color: #999;
    font-family: 'Ubuntu', sans-serif;

}

section#category .products .category-link .box-info .category-nm {
    display: block;
    position: absolute;
    top: 8.5vh;
    left: 4vh;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 700;
    color: #333;
    font-family: 'Ubuntu', sans-serif;
}

/* section#category .products .category-link.three,
section#category .products .category-link.four {
    margin-bottom: 10vw;
} */


/* ------- contents > category fin ------- */



/* ------- contents > new products✅ best products✅ ------- */

/* next|previous 텍스트 버튼 스타일 */
section .click-more {
    margin-bottom: 20px;
    text-align: end;
}

section .products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(20em, auto);
    grid-gap: 1rem;
    margin-bottom: 100px;
    justify-items: center;
    align-content: space-between;
}

/* 상품 배열 스타일 */
section .products-list .product {
    position: relative;
    margin-bottom: 30px;
    background: #ddd;
    box-sizing: border-box;
    /* margin-right: 10px; */
    /* text-align: center; */
}

section .products-list .product a .box-info {
    margin-top: 1vh;
    line-height: 1.5em;
}

section .products-list .product a .box-info .pd_nm {
    text-align: start;
    display: block;
    font-weight: 600;
}



/* ------- contents > new products / best products fin ------- */



/* ------- contents > labels✅ ------- */

section#labels ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}

section#labels ul li {
    margin-bottom: 20px;
    text-align: center;
}

section#labels ul li:last-child {
    margin-bottom: 10vw;
}

/* ------- contents > labels fin ------- */


/* =============== contents fin ============== */



/* =============== footer✅ =============== */
footer {
    clear: both;
    padding: 20px 2vw;
    background: #eee;
    text-align: left;
}
footer #site-map {
    margin: 0 auto 10vw;
    width: 60%;
}

footer #site-map ul {
    float: left;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.5em;
    margin-right: 80px;
}

footer #site-map ul li {
    cursor: pointer;
    font-size: 0.9em;
    font-weight: normal;
}

footer #copyright {
    clear: both;
}

/* =============== footer fin =============== */