/* 웹 폰트 로딩 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrap {
    font-size: 15px;
    font-family: 'Nanum Gothic', 'Noto Sans KR', 'Lato', sans-serif;
}

.en {
    font-family: 'Lato', sans-serif;
}

br.mo {
    display: none;
}

.hide {
    display: none !important;
}

/* ============== header ============= */
header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
    padding-top: 20px;
    background: #fff;
    display: flex;
    /* background: orange; */

}

header .inner-header {
    display: flex;
    width: 60%;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    color: #111;
    /* background: pink; */
}


/* 네비게이션 정렬 */

/* 메인 네비게이션 마우스 호버 효과 */
/* 투명도 80% */
header .inner-header .gnb a:hover {
    opacity: 0.65;
    /* color: rgb(6, 121, 35); */
}

header .inner-header .gnb {
    /* background: greenyellow; */
    margin-right: 8vw;
    display: flex;
}

header .inner-header .gnb a {
    flex: auto;
    font-weight: 700;
    margin-right: 2em;
}

/* 우측 검색/찜/장바구니 배열 */
header .inner-header .tnb {
    display: flex;
    align-items: center;
}

header .inner-header .tnb a {
    margin-right: 1.5vw;
}


/* 검색창 디자인 */
header .inner-header .tnb .search {
    border: #ddd solid 0.8px;
    border-radius: 15px;
    padding: 5px 10px;
    background: #fff;
}

header .inner-header .tnb .search label {
    display: flex;
}

#search {
    background: transparent;
    display: block;
}


/* ============ header fin ============ */



/* ============ contents✅ ============ */

/* ------- contents > main banner✅ ------- */
section#main-banner-container {
    position: relative;
    width: 100%;
    /* 전체 크기를 화면 크기와 동일하게 맞추기 */
    height: 600px;
    /* 높이 고정 */
    overflow: hidden;
    /* 나머지 부분 숨기기 */
    margin: 0 auto;
    padding-top: 100px;
    display: block;
}

section#main-banner-container .main-banner-img {
    position: absolute;
    /* 화면 감소시 이미지 크기는 right, left 포지션값에 의해 결정된다. */
    /* 포지션값을 -200% 시킴으로써 화면이 줄어들어도 이미지 크기가 감소하는 right, left 값이 되지 않음 */
    top: 0;
    right: -200%;
    bottom: 0;
    left: -200%;
    margin-top: 85px;
}

section#main-banner-container .main-banner-img a img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;

}

/* main banner text Style */
/* 메인 배너 텍스트 스타일 */
section#main-banner-container .main-banner-img a .banner-text {
    position: absolute;
    width: 50%;
    height: 100px;
    left: 10em;
    bottom: 5em;
    z-index: 100;
}

/* next \ previous Style */
section#main-banner-container .click-next-pre {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 20%;
    font-weight: 700;
    margin: 0 auto;
    font-size: 0.9em;
    padding: 15px 25px 25px;
    background: #fff;

}

/* ------- contents > main banner fin ------- */


/* ------- content common style✅ ------- */

section.common-style {
    width: 60%;
    max-width: 1008px;
    margin: 0 auto;
}

/* 각 섹션 텍스트 타이틀 스타일 */
section .section-title {
    font-size: 1.7em;
    font-weight: 700;
    margin: 5em 0 2em 0;
    text-align: center;
}


/* ------- contents > category✅ ------- */
/* 카테고리 섹션 디자인 */

section#category {
    margin: 0 auto;
}


/* 카테고리 섹션 이미지 정렬 */
section#category .products {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem; */
}

/* 카테고리 이미지 영역 */
section#category .products .category-link {
    width: 48%;
    margin: 0.2vw;
    /* background: rgb(249, 249, 249); */
    position: relative;
}

section#category .products .category-link img {
    width: 100%;
}

/* 카테고리 부가 텍스트 영역 */
section#category .products .category-link .box-info .pq-text {
    display: block;
    position: absolute;
    top: 2vw;
    left: 2vw;
    margin-bottom: 10px;
    font-weight: 300;
    color: #999;
    font-family: 'Ubuntu', sans-serif;

}

/* 카테고리 이름 영역 */
section#category .products .category-link .box-info .category-nm {
    display: block;
    position: absolute;
    top: 3.5vw;
    left: 2vw;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 700;
    color: #333;
    font-family: 'Ubuntu', sans-serif;
}


/* ------- contents > category fin ------- */



/* ------- contents > new products✅ best products✅ ------- */

/* next|previous 텍스트 버튼 스타일 */
section .click-more {
    margin-bottom: 20px;
    text-align: end;
}

section .products-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

/* 상품 배열 스타일 */
section .products-list .product {
    width: 25%;
    position: relative;
    margin-bottom: 5vw;
    /* background: #ddd; */
    box-sizing: border-box;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

section .products-list .product a img {
    width: 100%;
}

section .products-list .product a .box-info {
    line-height: 1.7em;
    padding-left: 10px;
}

section .products-list .product a .box-info .pd_nm {
    text-align: start;
    display: block;
    /* font-weight: 600; */
}

section .products-list .product a .box-info .pd_price {
    text-align: start;
    font-weight: 700;
    font-size: 1.1em;
}



/* ------- contents > new products / best products fin ------- */



/* ------- contents > labels✅ ------- */

section#labels ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section#labels ul li {
    width: 18%;
    margin: 0 0.5vw 1.2vw;
    text-align: center;

}

/* footer와의 간격 */
section#labels ul li:last-child {
    margin-bottom: 10vw;
}

/* 이미지 사이즈 조절 */
section#labels ul li img {
    width: 100%;
    max-width: 150px; /* 150px 이상으로 커지지 않도록 함 */
}



/* ------- contents > labels fin ------- */





/* =============== contents fin ============== */



/* =============== footer✅ =============== */
footer {
    padding: 20px 2vw;
    background: #eee;
    text-align: left;
    font-size: 0.7em;
    font-weight: normal;
}
footer #site-map {
    margin: 0 auto 10vw;
    width: 60%;
}


footer #site-map div span {
    cursor: pointer;
    margin-right: 1vw;
}

footer #copyright {
    width: 60%;
    margin: 0 auto;
}

/* =============== footer fin =============== */


/* ==================== products_page style✅ ========================= */

/* 사이드바 / 상품 구분 */
.product-container {
    display: flex;
    padding-top: 17vh;
}

#category-list-sidebar-wrap {
    flex: 1;
}

#products {
    flex: 4;
}

#products .category-title {
    font-size: 1.7em;
    font-weight: 700;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 5vh;
}

/* ==================== products_page style fin ========================= */



/* ==================== detail_page style✅ ========================= */

/* 카테고리 경로 */
.product-container .pd-content-wrap .category-text {
    font-size: 0.7em;
    margin-bottom: 2vh;
}

.product-container .pd-content-wrap .category-text a:last-child {
    font-weight: 800;
}

/* 해당 상품 이미지/텍스트 상자 */
.product-container .pd-content-wrap .pd-detail-wrap {
    display: flex;
    margin-bottom: 5em;
}

/* 상세 메인 이미지 상자 */
.product-container .pd-content-wrap .pd-detail-wrap .pd-detail-img-wrap {
    margin: 0 1em;
}

/* 상세 메인 부가 이미지 */
.product-container .pd-content-wrap .pd-detail-wrap .pd-detail-img-wrap .add-img li {
    width: 50px;
    margin: 0.3em 0.5em 0 0;
    position: relative;
    float: left;
}

/* 부가 이미지 hover시 스타일 */
.product-container .pd-content-wrap .pd-detail-wrap .pd-detail-img-wrap .add-img li:hover {
    cursor: pointer;
}

.product-container .pd-content-wrap .pd-detail-wrap .pd-detail-img-wrap .add-img li:hover::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #777;
}

.product-container .pd-content-wrap .pd-detail-wrap .pd-detail-img-wrap .add-img li img {
    width: 100%;
}


/* 상세 메인 상품 가격, 옵션 정보 상자 */
.product-container .pd-content-wrap .pd-detail-wrap .pd-detail-info-wrap {
    padding: 1em;
}

.product-container .pd-content-wrap .pd-detail-wrap .pd-detail-info-wrap .pd-info {
    font-weight: 700;
}


.product-container .pd-content-wrap .pd-detail-wrap .pd-detail-info-wrap .pd-info .pd-title {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 18px;
}

.product-container .pd-content-wrap .pd-detail-wrap .pd-detail-info-wrap .pd-info .pd-price {
    text-decoration: solid line-through;
    color: #aaa;
    line-height: 1em;
}

.product-container .pd-content-wrap .pd-detail-wrap .pd-detail-info-wrap .pd-info .pd-dc-price {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 18px;
}

/* 해당 상품과 관련있는 상품 목록 스타일 */
.product-container .pd-content-wrap .together-pd-wrap {
    border: #ddd solid 3px;
    padding: 2em;
    margin-bottom: 4em;
}

.product-container .pd-content-wrap .together-pd-wrap .together-pd-title {
    margin-bottom: 1.6em;
    font-weight: 700;
    color: #555;
}

.product-container .pd-content-wrap .together-pd-wrap .products-list {
    margin-bottom: 0;
    flex-wrap: nowrap;
}

.product-container .pd-content-wrap .together-pd-wrap .products-list .product {
    margin-bottom: 0;
    width: 200px;
}

/* ==================== detail_page style fin ========================= */